
.tablero{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid black;
    max-width: 340px;
    font-size: 70px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.contenedorDeCasillas{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap: 15px;
}
.casilla{
    border: 2px solid #c2c2c2;
    border-radius: 20px;
    width: 100px;
    height: 100px;
}
header{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}
body{

}
